
# ICT706 SouthBank 2020 Semester 1 - Week 6 Lab Exam  (30 Marks)

This assignment will be done completely inside this Jupyter notebook with answers placed in the cell provided.

All python imports that are needed shown.

### Instructions
Follow all the instructions in this notebook to complete these tasks.    

Make sure the CSV data files is in the same folder as this notebook - alumni.csv, groceries.csv

When you have finished, this notebook is the only file (ipynb) that you will need to submit to Blackboard, if you having trouble submitting this file try to zip it.

In [345]:
# Imports needed to complete this exam

import pandas as pd
import matplotlib.pyplot as plt

### Question 1 :  Import CSV file (1 Mark)


Write code to load the alumni csv dataset into a Pandas DataFrame called 'alumni'.

In [346]:
#q1 (1)

### Question 2 :  Understand the data set (5 Marks)

Use the following pandas commands to understand the data set: a) head, b) tail, c) dtypes, d) info, e) describe

In [347]:
#a) (1)

In [348]:
#b) (1)

In [349]:
#c) (1)

In [350]:
#d) (1)

In [351]:
#e) (1)

### Question 3 :  Cleaning the data set - part A (3 Marks)

a) Use clean_currency method below to strip out commas and dollar signs from Savings ($) column and put into a new column called 'Savings'.

In [352]:
def clean_currency(curr):
    return float(curr.replace(",", "").replace("$", ""))

clean_currency("$66,000")

66000.0

In [353]:
#a) (2)

b) Uncomment 'alumni.dtypes.Savings' to check that the type change has occurred

In [354]:
#b) (1)
#alumni.dtypes.Savings

### Question 4 :  Cleaning the data set - part B (5 Marks)

a) Run the 'alumni["Gender"].value_counts()' to see the incorrect 'M' fields that need to be converted to 'Male'

In [355]:
# a) (1)

b) Now use a '.str.replace' on the 'Gender' column to covert the incorrect 'M' fields. Hint: We must use ^...$ to restrict the pattern to match the whole string.

In [356]:
# b) (1)

c) That didn't the set alumni["Gender"] column however. You will need to update the column when using the replace command 'alumni["Gender"]=<replace command>', show how this is done below

In [357]:
# c) (1)
#alumni["Gender"]=

d) You can set it directly by using the df.loc command, show how this can be done by using the 'df.loc[row_indexer,col_indexer] = value' command to convert the 'M' to 'Male'

In [358]:
# d) (1)

e) Now run the 'value_counts' for Gender again to see the correct columns - 'Male' and 'Female'

In [359]:
# e) (1)

### Question 5 :  Working with the data set (4)

a) get the median, b) mean and c) standard deviation for the 'Salary' column

In [360]:
# a)(1)

In [361]:
# b)(1)

In [362]:
# c)(1)

d) identify which alumni paid more than $15000 in fees, using the 'Fee' column

In [363]:
# d) (1)

### Question 6 :  Visualise the data set (4 Marks)

a) Using the 'Diploma Type' column, plot a bar chart and show its value counts.

In [364]:
#a) (1)

b) Now create a box plot comparison between 'Savings' and 'Salary' columns

In [365]:
#b) (1)
savings_salary = ["Savings", "Salary"]

c) Generate a histogram with the 'Salary' column and use 12 bins.

In [366]:
#c) (1)

d) Generate a scatter plot comparing 'Salary' and 'Savings' columns.

In [367]:
#d) (1)

### Question 7 :  Contingency Table (2 Marks)

Using both the 'Martial Status' and 'Defaulted' create a contingency table. Hint: crosstab

In [368]:
# Q7 (2)

### Question 8 :  Association Rules (6 Marks)

Calculate the metrics (support and confidence) for a given association rule. 

Support and Confidence are the key measures to determine association rules in a dataset. 

    • Support is an indication of how frequently a set of items (an itemset) appears in the dataset.  
      It is defined as: support(S) = number of baskets that contain S / total number of baskets.

    • Confidence is an indication of how often a rule has been found to be true.  
      The confidence of a rule S=>T is defined as confidence(S,T) = support(S  T) / support(S).

Functions needed for this question are given for you below:

In [369]:

def support(data, items):
    """Calculates how many times the given set of items appears in the data."""
    count = 0
    for basket in data:
        if items.issubset(basket):
            count += 1
    return count / len(data)

def confidence(data, lhs, rhs):
    """
    Calculates the confidence of the rule: lhs -> rhs.
    Note that lhs and rhs must both be sets.
    """
    return support(data, lhs.union(rhs)) / support(data, lhs)

def clean_groceries():
    """
    Clean the groceries data by removing leading/trailing spaces and making it lowercase, then return the groceries
    """
    input = open("groceries.csv", "r")
    groceries = []
    for line in input:
        words = line.split(",")
        cleaned = [w.strip().lower() for w in words]
        groceries.append(set(cleaned))
    input.close()
    return groceries

def itemset(data):
    """Gets the set of all items in all baskets."""
    result = set()
    for basket in data:
        result = result.union(set(basket))
    return result

a) use the clean_groceries() method to return a list of cleaned groceries and assign it to 'groceries'

In [370]:
#a) (1)

b) Uncomment len(groceries) to confirm 9835 items.

In [371]:
#b) (1)
#len(groceries)

c) use the itemset() method to return a set of all items in the basket and assign it to 'items', uncomment 'items' to see your item list

In [372]:
#c) (1)
#items

d) Calculate the confidence of the rule: {mustard} => {meat}

In [373]:
#d) (1)

e) Calculate the confidence of the rule: {whisky} => {meat}

In [374]:
#e) (1)

f) Show all items with a support greater than 10% and assign it to above10, uncomment above10 to see results

In [375]:
#f) (1)
#above10